html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

figure {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  min-height: 300px;
  margin: auto;
}

li {
  width: 250px;
  height: 100px;
  border: 1px black solid;
}

ul > div {
  height: 10px;
  width: 250px;
  background-color: black;
  margin-top: 20px;
}

.disc-1 {
  height: 10px;
}